/* Custom Styles */

.progress .progressbar {
    width:90%;
  }
  


.progress div {
    width:90%;
}

.container {
padding-bottom: 0px;

}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }

  .hidden {
    display:none;
  }
  .indicator-tags {
    width:100%;
  }
  #indicator-desc {
    padding: 10px;
  }
  .tag-delete{
    font-weight: bold;
    font-size:1.5em;
    padding: 0 5px;
    margin-right: 2px;
    color:rgb(17, 96, 216);
    background-color: grey;
  }
  .tag-delete:hover{
    cursor: pointer;
    color:red;
  }
  #admin-menu{
    padding: 10px;
  }