/* Custom Styles */

.progress .progressbar {
    width:90%;
  }
  


.progress div {
    width:90%;
}

.container {
padding-bottom: 20px;

}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }